html {
  background-color: $color-bkg;
  color: $color-txt;
  font-family: sans-serif;
}

body {
  margin: 20px auto;
  max-width: 40em;
  padding: 0 20px;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: 1em;
}
